<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Home</title>
    <meta
      name="description"
      content="A cookbook catalog filled with recipes to satisfy any craving."
    />
    <meta name="author" content="Clarie Cardie, Evan Whitmer, Thor Pilegaard" />
    <meta
      name="keywords"
      content="HTML, metadata, cook, book, cookbook, recipes, web development"
    />
    <link rel="stylesheet" href="../static/scss/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div
      class="container-fluid text-center align-middle align-self-center"
      id="entire-page"
    >
      <div class="row h-100 border border-black" id="header">
        <div
          class="col-lg-4 col-md-4 col-sm-12 justify-content-center"
          id="logo-container"
        >
          <!--cookie moon version-->
          <img
            class="img-fluid float-start"
            alt="food-planet-logo"
            src="../made_photos/Cookbook Planet V3.png"
          /> <!--It's not printing the logo!!!!-->
        
        
        </div>
        <div
          class="col-lg-8 col-md-8 col-sm-0 d-flex justify-content-center align-items-center"
          id="moto"
        >
          <p class="h1">You Crave it? We Have It!</p>
        </div>
      </div>
      <!--Pulled from bootstrap website under navbar section-->
      <div class="row justify-content-center sticky-top" id="nav-container">
        <nav
          class="navbar navbar-expand-lg navbar-light sticky-top mt-3 mb-3"
          id="navy"
        >
          <div class="container-fluid justify-content-center">
            <a
              class="navbar-brand text-start invisible"
              href="../templates/index.html"
              >Home</a
            >
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse justify-content-center"
              id="navbarSupportedContent"
            >
              <ul
                class="navbar-nav w-100 mb-2 mb-lg-0 justify-content-center"
                id="nav-list"
              >
                <button
                  class="navbar-toggler invisible"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
                <li class="nav-item none" id="nav-home">
                  <a class="nav-link" href="../templates/index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../templates/all_recipes.html"
                    >Recipes</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../templates/favorites.html"
                    >Favorites</a
                  >
                </li>
                <!--
                <li class="nav-item">
                  <a class="nav-link" href="#"
                    >Account (not implemented)</a
                  >
                </li>-->
              </ul>
              <form class="d-flex ms-auto" onsubmit="redirectToSearch(event)">
                <input

                  type="text"
                  id="searchInput"
                  class="form-control me-2"
                  type="search"
                  placeholder="Search ..."
                  aria-label="Search"
                />
                <button class="btn btn-outline-success" type="submit">
                  Search
                </button>
              </form>
            </div>
          </div>
        </nav>
      </div>
      <!--Recipe/middle of the page-->
      <div class="col-12 center text-center mr-0 pr-0 justify-items-center">
        <div id="recipe-container"></div> <!--Javascript fills this up with the details-->
      </div>
    </div>
    <!--footer-->
    <div class="footer">
    <div class="container py-4 py-md-12 px-4 px-md-12 text-body-secondary" >
      <div class="row">
        <div class="col-lg-3 mb-1 sm-1">
          <a
            class="d-inline-flex align-items-center mb-1 text-body-emphasis text-decoration-none"
          >
            <!--cookie moon version-->
            <img
              style="width: 180px; height: 60px"
              alt="food-planet-logo"
              src="../made_photos/Cookbook Planet V3.png"
            />
          
          </a>
          <ul class="list-unstyled small">
            <li class="mb-2 mt-4 p">
              Always feel free to reach out to us about any concerns or
              questions relating to recipes found on this website.
            </li>
            <li class="mb-2 mt-4 p">Last Updated: April 15th, 2025</li>
          </ul>
        </div>
        <div class="col-6 col-lg-6 mb-3 sm-3">
          <h2 class="h2">Links</h2>
          <ul class="list-unstyled">
            <li>
              <a class="nav-link h6" href="../templates/index.html">Home</a>
            </li>
            <li>
              <a class="nav-link h6" href="../templates/all_recipes.html"
                >Recipes</a
              >
            </li>
            <li>
              <a class="nav-link h6" href="../templates/favorites.html"
                >Favorites</a
              >
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>

    <!--bootstrap JavaScript dependencies are included at the bottom of pages before the closing body tag-->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="../templates/script.js"></script>
    <script>
      let recipes = [];
      let currentRecipeIndex = 0;
      window.onload = fetchRecipes;
    </script>

    <!---->
    <script src="../JavaScripts/recipe.js"></script>
  </body>
</html>
